md-menu-item>.md-button.selectedButton {
        background-color: rgba(158,158,158,0.2);
}

md-menu-item>.md-button> .symbol{
    display: inline-block;
    min-width: 24px;
    text-align: left;
}

a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
}

* {
    transition: all 0.2s;
}

@media(min-width: 800px) {
    form[name="contact"] {
        min-width: 600px;
    }
}
