<md-content flex layout="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ 'register.title' | translate }}</span>
            </md-card-title-text>
        </md-card-title>

        <form name="registerForm">
            <md-card-content>

                <md-input-container>
                    <input mdInput placeholder="{{'register.name' | translate}}" name="nom" ng-model="user.nom" required>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="{{'register.firstname' | translate}}" name="prenom" ng-model="user.prenom" required>
                </md-input-container>
                <br/>
                <md-input-container>
                    <input mdInput placeholder="{{'register.address' | translate}}" name="adresse" ng-model="user.adresse" required>
                </md-input-container>
                <br/>
                <md-input-container>
                    <input mdInput type="number" placeholder="{{'register.postalCode' | translate}}" name="codepostal" ng-model="user.cp" required>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="{{'register.city' | translate}}" name="ville" ng-model="user.ville" required>
                </md-input-container>
                <br/>
                <md-input-container>
                    <input mdInput placeholder="{{'register.mail' | translate}}" name="email" ng-model="user.email" required>
                </md-input-container>
                <br/>
                <md-input-container>
                    <input mdInput type="password" placeholder="{{'register.password' | translate}}" name="password" ng-model="user.motdepasse" required>
                </md-input-container>
                <br/>
                <md-input-container>
                    <input mdInput type="password" placeholder="{{'register.password' | translate}}" name="passwordAgain" ng-model="user.motdepasseAgain" required>
                </md-input-container>
                <br/>
                <md-card-actions flex layout="row" layout-align="end center">
                    <md-content>
                        <md-button class="md-raised md-primary" type="submit"  ng-click="register()" value="Enregistrement" ng-disabled="!registerForm.$valid">{{'register.register' | translate}}</md-button>
                    </md-content>
                </md-card-actions>
            </md-card-content>
        </form>
    </md-card>
</md-content>