<h1>Contactez Nous !</h1>

<form method="post" action="">
    <table>
        <tr>
            <td>{{'contactMail' | translate}} :</td>
            <td><input type="text" name="mail"></td>
        </tr>
        <tr>
            <td>{{'contactSubject' | translate}} :</td>
            <td><input type="text" name="subject"></td>
        </tr>
        <tr>
            <td>{{'contactMessage' | translate}} :</td>
            <td><textarea name="message"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="{{'contactSendButton' | translate}}"></td>
        </tr>
    </table>
</form>

<div>
    <p>Autre moyen de nous contacter :</p>
    <div>
        <p>Sur nos résaux sociaux: </p>
        <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
        </ul>
    </div>
    <div>
        <p>Notre Adresse : </p>
        <p>Cuirassé Bretagne, 29200 Brest,France</p>
        <p>yolo@swag.com</p>
    </div>
</div>